@import "tailwindcss";


.gradient-text {
  background: linear-gradient(90.13deg, #47099F 0.11%, #F8AD1D 125.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-textsm {
  font-size: 23px; /* adjust as needed */
  font-weight: bold;
  background: linear-gradient(90.13deg, #47099F 0.11%, #F8AD1D 125.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-textli {
  font-size: 23px; /* adjust as needed */
  background: linear-gradient(90.13deg, #47099F 0.11%, #F8AD1D 125.29%);
  -webkit-background-clip: text;
   list-style-type: disc !important;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-text-number {
  background: linear-gradient(90.13deg, #47099F -20.11%, #F8AD1D 125.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}




.sheen-effect {
  position: relative;
  overflow: hidden;
}

.sheen-effect::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  animation: sheen 3s infinite;
}

@keyframes sheen {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}