.loader-6 {
  width: 96px;
  height: 96px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
  scale: 1;
}
.loader-6::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  top: -48px;
  animation: animloader 4s ease infinite;
}
.loader-6::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background: linear-gradient(97.3deg, #47099f 19.19%, #f8ad1d 156.49%);
  box-shadow: 0px 4px 20px 0px #00000094;
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0),
      48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 0 48px #ffffff, 48px 48px rgba(255, 255, 255, 0),
      48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 48px #ffffff, 48px 48px #ffffff,
      48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
  }
  37% {
    box-shadow: 0 48px #ffffff, 48px 48px #ffffff, 48px 96px #ffffff,
      0px 96px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 48px #ffffff, 48px 48px #ffffff, 48px 96px #ffffff,
      0px 96px #ffffff;
  }
  62% {
    box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px #ffffff,
      48px 96px #ffffff, 0px 96px #ffffff;
  }
  75% {
    box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0),
      48px 96px #ffffff, 0px 96px #ffffff;
  }
  87% {
    box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0),
      48px 96px rgba(255, 255, 255, 0), 0px 96px #ffffff;
  }
  100% {
    box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0),
      48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}
